<h1>Edit a Recipe!</h1>
<%=@recipe.ingredients%>
<form method='POST' action="/recipes/<%=@recipe.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h3>Recipe Name:
    <input type='text' id='name' name='name'>
  </h3>
  <h3>Ingredients:
    <input type='text' id='ingredients' name='ingredients'>
  </h3>
  <h3>Cook Time:
    <input type='text' id='cook_time' name='cook_time'>
  </h3>
  <input type = 'submit' value="Submit">
</form>
